<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Site.Title }}: {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/css/main.css" | relURL }}">
  </head>
  <body>
    <div>
      <header>
        <figure>
          <img class="logo" src="{{ "/images/logo.svg" | relURL }}" alt="Contributor Covenant Logo">
          <figcaption>Contributor Covenant</figcaption>
        </figure>
        <nav id="navigation">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/adopters/">Adopters</a></li>
            <li><a href="/version/latest/">Latest Version</a></li>
            <li><a href="/translations/">Translations</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <div id="veil">
