<footer>

  <div class="footer-nav" name="navigation">

    <div class="nav-card">
      <h3>Explore More</h3>
      <ul>
        <li><a href="/translations">Translations</a></li>
        <li><a href="/resources">Resources and Guides</a></li>
        <li><a href="/adopters">Featured Adopters</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="https://ethicalsource.dev" target="_blank">About OES</a></li>
        <li><a href="https://opencollective.com/ethical-source" target="_blank">Support the Project</a></li>
      </ul>
    </div>

    <div class="nav-card">
      <h3>Contact Us</h3>
      <p>
        <a href="/contact">Send a message</a>
      </p>

      <h4>Social</h4>
      <p>
        <a href="https://fosstodon.org/@ethicalsource">@EthicalSource@fosstodon.org</a>
      </p>

      <h4>Media Inquiries</h4>
      <p>
        press@ethicalsource.dev
      </p>

    </div>
  </div>

  <div id="colophon">
    <a href="https://ethicalsource.dev">
      <img src="/images/oes-logo.png" alt="Organization for Ethical Source logo" class="oes-logo">
    </a>
    <p>
      &copy; Copyright {{ now.Format "2006" }} Organization for Ethical Source. In recognition of privacy as a digital human right, this site does not use tracking cookies or 3rd party analytics. Our <a href="https://github.com/ethicalsource/contributor_covenant">source code</a> is open and <a href="https://firstdonoharm.dev" title="Hippocratic License website">ethically licensed</a>.
    </p>
  </div>

</footer>
