<ul class="data-list">
	{{ $latest := ( where $.Site.RegularPages "Section" "version" ).Reverse }}
	{{ range $latest }}
		{{ if $.Page.Scratch.Get .Language.LanguageName }}
		{{ else }}
				{{ partial "translation-select.html" . }}
				{{ $.Page.Scratch.Set .Language.LanguageName 1 }}
		{{ end }}
		{{ range .Translations }}
			{{ if $.Page.Scratch.Get .Language.LanguageName }}
			{{ else }}
				{{ partial "translation-select.html" . }}
				{{ $.Page.Scratch.Set .Language.LanguageName 1 }}
			{{ end }}
		{{ end }}
	{{ end }}
</ul>
