* {
	margin: 0;
	padding: 0;
}

/* Primary Elements */
html {
	height: 100%;
}

body {
	background: hsl(288, 80%, 25%);
	color: #111;
	font: 300 1.25rem/1.875rem Roboto, sans-serif;
	font-synthesis: none;
	-moz-hanging-punctuation: first last allow-end;
	-ms-hanging-punctuation: first last allow-end;
	-webkit-hanging-punctuation: first last allow-end;
	hanging-punctuation: first last allow-end;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
	min-height: 100%;
	padding: 1.5rem;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

section {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 43rem;
	padding: 1.5rem;
}

ul,
ol {
	list-style-position: inside;
	margin: 1.5rem 0 1.5rem .75rem;
}

header {
	background: hsl(288, 80%, 25%);
/*	border-bottom: .5rem solid hsl(43, 90%, 65%); /* 245deg apart */
	color: #fff;
	padding: 1.5rem;
	text-align: center;
}

footer {
	font-size: .875rem;
	text-align: center;
	padding: 1.5rem;
}

footer p {
	text-align: center;
}

#veil {
	background: #fff;
}

.linked-list {
	list-style: none;
	margin-left: 0;
}

table {
	font-size: 1.125rem;
	width: 100%;
}

th {
	font-weight: 500;
	text-align: left;
}

blockquote {
	border-left: .25rem solid hsl(43, 90%, 65%);
	border-left: .25rem solid hsl(288, 80%, 25%);
	padding-left: 1.25rem;
}

/* Headers */
h1 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 3rem;
	font-weight: 100;
	line-height: 3rem;
	margin: 1.5rem 0 3rem;
}

h2 {
	font-size: 2rem;
	font-weight: 500;
	line-height: 3rem;
	margin: 1.5rem 0;
}

h4 {
	font-weight: normal;
}

p {
	margin: 1.5rem 0;
	text-align: justify;
}

/* Inline Elements */
a {
	color: hsl(288, 80%, 25%);
	font-weight: 400;
	text-decoration: none;
}

a:focus,
a:hover {
	color: hsl(288, 80%, 45%);
}

strong {
	font-weight: 400;
}

code,
kbd {
	/* This must be enforced again or it will default to `monospace` */
	font-family: "Roboto Mono", monospace;
}

cite {
	font-style: italic;
}

cite::before {
	content: "— ";
}

/* Utility Classes */
.logo {
	height: 8rem;
	width: 8rem;
}

.error,
.important {
	color: hsl(338, 100%, 40%);
	font-weight: 700;
}

.clear {
	clear: both;
}

table.localizations span {
	color: #111;
	font-weight: 300;
}

/* Media Queries */
@media (min-width: 46rem) {
	.linked-list {
		-ms-column-count: 2;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		-ms-column-gap: 3rem;
		-moz-column-gap: 3rem;
		-webkit-column-gap: 3rem;
		column-gap: 3rem;
	}
}

@media (max-width: 32rem) {
	body {
		padding: 1.5rem 0;
	}
}

header nav {
	text-transform: uppercase;
}

header nav ul {
	list-style-type: none;
}

header nav li {
	display: inline;
}

header nav li:not(:last-child) {
	margin-right: 1.5rem;
}

header nav a {
	color: #fff;
}

header nav a:focus,
header nav a:hover {
	color: hsl(288, 80%, 80%);
}
