/* Primary Elements */
body {
	color: #111;
	font-family: "Droid Sans Mono", monospace;
	margin: 0 auto;
	max-width: 50rem;
	padding: 0 1.5rem;
	position: relative;
	width: calc(100% - 3rem);
}
#header {
	margin: 0 auto;
	padding: 3rem 0;
	text-align: center;
}
#footer {
	border-top: 1px solid #ccc;
	font-size: .8rem;
	margin: 2rem 0 0;
	padding: 2rem 0;
	text-align: center;
}
table {
	width: 100%;
}
th {
	text-align: left;
}
blockquote {
	border-left: 3px solid #ccc;
	margin: 0;
	padding-left: 1em;
	padding-left: 1rem;
}
/* Headers */
h1 {
	font-display: fallback;
	font-color: #444;
	font-family: "Poiret One", "Avenir Next", Avenir, Futura, sans-serif;
	font-size: 4em;
	font-weight: 100;
	margin: 0;
}
h2 {
	color: #333;
	font-weight: normal;
}
h3 {
	border-bottom: 1px solid #ccc;
	color: #222;
	font-weight: normal;
	padding: 1em 0;
	padding: 1rem 0;
}
h4 {
	font-weight: normal;
}
/* Inline Elements */
a:link,
a:visited {
	color: #3F51B5;
}
a:hover,
a:focus {
	color: #1A237E;
}
code,
kbd {
	/* This must be enforced again or it will default to `monospace` */
	font-family: "Droid Sans Mono", monospace;
}
/* Utility Classes */
.error,
.important {
	color: #D32F2F;
}
.clear {
	clear: both;
}
/* Media Queries */
@media (min-width: 30rem) {
	.medium-break-two {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		list-style-type: none;
		padding: 0;
	}
}
@media (min-width: 50rem) {
	.large-break-three {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		list-style-type: none;
		padding: 0;
	}
}
