body {
	background-image: url(../images/background.png);
	background-color: #cae713;
	background-repeat: repeat-x;
	padding: 3em;
	font-family: "Driod Sans Mono", monospace;
	position: relative;
}

a:link, a:visited, a:hover {
	color: #444;
}

#header {
	background: url(../images/watermark_small.png) right center no-repeat;
	margin: -2em auto 0em auto;
	text-align: center;
	min-height: 200px;
}

h1 {
	font-family: "Poiret One", handwriting;
	color: #fff;
	font-size: 4em;
	margin-top: 0em;
}

h2 {
	font-family: "Droid Sans Mono", monospace;
	font-weight: normal;
	color: #cae713;
	text-transform: lowercase;
	margin-top: -2em;
}

h3 {
	font-family: "Poiret One", handwriting;
	background: rgba(0,0,0,.5);
	padding: .5em .25em;
	color: #cae713;
	font-size: 1.25em;
}

section#preamble {
	color: #000;
}

section {
	color: #000;
}

#logo {
	position: absolute;
	top: 0em;
	margin: 0em auto 0em auto;
	height: 200px;
	width: 132px;
}

section#footer {
	margin: 2em 0em;
	padding: 2em 0em;
	border-top: 1px solid #000;
	font-size: .8em;
	text-align: center;
}