/* Primary Elements */
body {
	color: #111;
	font: normal 1rem/1.4 "Droid Sans Mono", monospace;
	margin: 0;
	padding: 0;
}
#header {
	border-bottom: .5rem solid #FFB616;
	background: #4C1161;
	color: #fff;
	margin: 0 auto 3rem;
	padding: 3rem 0;
	text-align: center;
	width: 100%;
}
#footer {
	font-size: .8rem;
	padding: 6rem 0 1.5rem;
	text-align: center;
}
section {
	margin: 0 auto;
	max-width: 60rem;
	padding: 0;
	width: calc(100% - 3rem);
}
table {
	width: 100%;
}
th {
	text-align: left;
}
blockquote {
	border-left: 3px solid #FFB616;
	margin: 0;
	padding-left: 1rem;
}
/* Headers */
h1 {
	font-display: fallback;
	font-family: "Poiret One", "Avenir Next", Avenir, Futura, sans-serif;
	font-size: 4rem;
	font-weight: 100;
	margin: 0;
}
h2 {
	font-weight: normal;
}
h3 {
	border-bottom: 1px solid #FFB616;
	font-weight: normal;
	padding: 1rem 0 .5rem;
}
h4 {
	font-weight: normal;
}
/* Inline Elements */
a:link,
a:visited {
	color: #4C1161;
}
a:hover,
a:focus {
	color: #6700AD;
}
code,
kbd {
	/* This must be enforced again or it will default to `monospace` */
	font-family: "Droid Sans Mono", monospace;
}
/* Utility Classes */
.error,
.important {
	color: #CC2624;
}
.clear {
	clear: both;
}

table.localizations td {
	font-family: monospace;
	font-size: 1.2rem;
}

/* Media Queries */
@media (min-width: 30rem) {
	.medium-break-two {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		list-style-type: none;
		padding: 0;
	}
}
@media (min-width: 50rem) {
	#header {
		border-radius: 0 0 .25rem .25rem;
		width: calc(100% - 3rem);
	}
	.large-break-three {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		list-style-type: none;
		padding: 0;
	}
}
